<% layout('./layouts/indexLayout.ejs') -%> <% function textCapitalize(text) {
return text.charAt(0).toUpperCase() + text.slice(1); } %>
<div class="h-100 w-100">
  <div class="container mb-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Admin Panel</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Welcome, <%= textCapitalize(page.data.name) %></h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto bg-light rounded border border-1 m-2 p-3">
        <h3 class=""><%= page.data.event %></h3>
        <h4 class="">Event</h4>
        <a href="/event" class="btn btn-primary m-2">Manage</a>
        <a href="/event/new" class="btn btn-primary m-2">Create</a>
      </div>
   

    </div>
    <div class="row">
      <div class="col-12">
        <div class="bg-light p-3 rounded border-1 border">
          <div>
            <h3>Access Manager</h3>
            <form action="/admin/access" method="post" id="accessSearch">
              <div class="col-sm-3">
                <label class="visually-hidden" for="accessemail"
                  >Username</label
                >
                <div class="input-group">
                  <div class="input-group-text">@</div>
                  <input
                    type="text"
                    class="form-control"
                    id="accessemail"
                    placeholder="Email"
                    name="email"
                  />
                  <button type="submit btn btn-primary">
                    <i class="fa fa-search mx-2"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div id="accessuserdata" class="my-3" style=""></div>
        </div>
      </div>
    </div>
  </div>
</div>
