/* <> CSS RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
input,
button,
textarea {
  font: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  max-height: auto;
}
:focus:not(:focus-visible) {
  outline: none;
}
a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: unset;
}
/* </> */

/* <> VARIABLES */
:root {
  /* FONTS */

  /* COLORS */

  /* BORDERS */

  /* STANDARD PADDING */

  /* STANDARD MARGIN */
}
/* </> */

/* <> UTILITY CLASS */
.nowrap {
  white-space: nowrap;
}
.underline {
  text-decoration: underline;
}
/* </> */

/* <> GENERAL STYLES */
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: 100vh;
}
.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 350ms ease-in-out 0s 1 normal forwards;
  animation: fade-in 350ms ease-in-out 0s 1 normal forwards;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
/* </> */

/* <> MODIFIERS */

/* </> */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#top {
  height: 4.2vh;
  width: 100vw;
  display: flex;
  background: rgb(30, 48, 80);
  justify-content: space-between;
  align-items: center;
  /* position: sticky;
    top: 0px;
    z-index: 10; */
}

#top-left {
  padding: 0 2vw;
  display: flex;
  gap: 2vw;
}

#top-left h3 a {
  font-size: large;
  font-weight: 500;
  text-decoration: none;
  color: #e6e3e3;
}

#top-right {
  padding: 0 5vw;
  display: flex;
  gap: 2vw;
  align-items: center;
  text-align: center;
}

#top-right h3 a {
  font-size: x-large;
  font-weight: 500;
  text-decoration: none;
  color: #e6e3e3;
}

.yt:hover {
  color: red;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand {
  font-weight: 800;
}

#active {
  border: 1px solid black;
  border-radius: 10px;
}

#active:hover {
  background: rgb(30, 48, 80);
  color: #fff;
}

.carousel-inner {
  width: 100%;
  max-height: 700px !important;
  object-fit: cover;
}

@media (max-width: 662px) {
  #top-right {
    display: none;
  }
}

@media (max-width: 415px) {
  #top-left h3 a {
    font-size: small;
    display: flex;
    justify-content: center;
  }
}

#aboutus {
  box-sizing: border-box;
}

#heading h1 {
  font-size: 90px;
  font-weight: 800;
  text-align: center;
  margin: 20px auto;
}

#about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 60px auto;
}

#aboutimg {
  flex: 1;
  width: 500px;
  margin: auto;
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.para {
  flex: 1;
  width: 600px;
  margin: auto 30px;
}
.para p {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 40px;
}

#buttons {
  float: right;
}
#log {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 12px;
  transition: 0.3s ease;
}

#log a {
  text-decoration: none;
  color: #000;
}

#log:hover {
  background: #000;
  transform: scale(1.1);
}

#log a:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
  #heading h1 {
    font-size: 58px;
    margin-top: 25px;
  }

  #aboutus {
    margin: 0;
  }

  #about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #aboutimg {
    padding: 0 15px;
    margin-bottom: 25px;
    width: 100%;
  }

  .para {
    width: 100%;
    padding: 0 20px;
  }
  p {
    font-size: 18px;
  }

  #log {
    padding: 8px 16px;
    font-size: 16px;
  }
}

/* <> CSS RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
input,
button,
textarea {
  font: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  max-height: auto;
}
:focus:not(:focus-visible) {
  outline: none;
}
a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: unset;
}
/* </> */

/* <> VARIABLES */
:root {
  /* FONTS */

  /* COLORS */

  /* BORDERS */

  /* STANDARD PADDING */

  /* STANDARD MARGIN */
}
/* </> */

/* <> UTILITY CLASS */
.nowrap {
  white-space: nowrap;
}
.underline {
  text-decoration: underline;
}
/* </> */

/* <> GENERAL STYLES */
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: 100vh;
}
.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 350ms ease-in-out 0s 1 normal forwards;
  animation: fade-in 350ms ease-in-out 0s 1 normal forwards;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
/* </> */

/* <> MODIFIERS */

/* </> */

/* Genral Property Start  */

/* Meta data setup for theame */

/* * {
  --bg-primary-color: #000000;
  --bg-secondary-color: #f5f5f5;
  --bg-third-color: #f5f5f5;
  --text-primary-color: #f5f5f5;
  --text-secondary-color: #f5f5f5;
  --text-third-color: #f5f5f5;
}

body {
  background-color: var(--bg-primary-color) !important;
  color: var(--text-primary-color) !important;
} */

.flex-Center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Genral Property End  */

/* Element Specific Property Start */

#achivements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  #achivements {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  #achivements {
    /* grid-template-columns: repeat(1,1fr); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .achivlink {
    width: clamp(200px, 90vw, 400px) !important;
  }
}
.achivlink {
  /* width: clamp(250px, 30vw, 300px) !important; */
  text-decoration: none;
  color: inherit;
  width: 100%;
}
.achiv-card {
  flex-direction: row;
  height: 9rem !important;
  flex-basis: auto !important;
}
.achiv-card img {
  width: clamp(3rem, 40%, 8.9rem);
  /* height: clamp(3rem, 40%, 8.9rem); */
  /* height: 8.9rem !important; */
  /* width: 8.9rem !important; */
  /* aspect-ratio: 1/1; */
  object-fit: fill;
}
@media screen and (max-width: 350px) {
  #achivements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .achiv-card {
    flex-direction: column;
    width: 75vw !important;
    height: auto !important ;
  }
  .achivlink {
    width: fit-content !important;
  }
  .achiv-card img {
    width: 100% !important;
    height: auto !important;
    /* aspect-ratio: auto !important; */
  }
}
@media screen and (max-width: 600px) {
  .achiv-card img {
    width: clamp(3rem, 40%, 8.9rem) !important;
    aspect-ratio: 1/1 !important;
  }
}
/* Element Specific Property End */

/* Latest Event */

.ev {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-evenly;
  width: 100%;
  /* flex-wrap: wrap; */
  /* height: 100%; */
}

.ev-cd {
  /* min-width: 8rem!important; */
  /* max-width: 18rem!important; */
  /* width: 100%!important; */
  /* height: 100%; */
  width: clamp(300px, 90vw, 19rem) !important;
}
.achiv-card .card-body h5 {
  font-size: 1.2em !important;
  overflow-wrap: anywhere;
}
.achiv-card .card-body p {
  font-size: 1em !important;
  overflow-wrap: anywhere;
}

/* .achiv-card .card-body{
    width: clamp(250px, 30vw, 300px) !important;
    min-width: 180px!important;
    max-width: 250px!important;
    width: 100%!important;
    background-color:rgba(0, 255, 255, 0.562); */
/* } */
.ev-cd-img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.date {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #343a40;
  border-radius: 6px 0px 10px 0px;
}
.date .date-day {
  font-size: 1.1em;
  font-weight: 700;
}
.date .date-month {
  font-size: 0.9em;
  font-weight: 500;
}
.date .date-year {
  font-size: 0.9em;
  font-weight: 500;
}
/* .swiper {
    width: 600px;
    height: 300px;
  } */

#eventList {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit,1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center; */
  /* padding: 1rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(300px, 1fr));
  width: 100%;
  height: calc(100%+3rem);
  grid-auto-flow: column;
  overflow: hidden;
  gap: 1em;
  mask-repeat: repeat-x;
  margin: 4rem !important;
}
.ScorllBox {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ScorllBox > :is(.left, .right) {
  position: absolute;
  font-size: 1.5rem;
  z-index: 999 !important;
  /* color: white; */
  /* border: 0.2rem solid white; */
  border-radius: 50%;
}
.ScorllBox > .left {
  top: 50%;
  left: 0px;
}
.ScorllBox > .right {
  top: 50%;
  right: 0px;
}

.ev-sudo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#achivements .card:hover {
  z-index: 999;
  transform: scale(1.08);
  transition: all 0.3s ease-in-out;
}
#latestEvent .card:hover {
  z-index: 999;
  /* transform: scale(1.08); */
  transform: translateY(4px) scale(1.08);
  transition: all 0.3s ease-in-out;
}

.sStory-img {
  /* position: relative; */
  width: fit-content;
  padding: 0.5rem;
  /* height: 100%; */
  width: calc(3.5rem + 0.5rem);
  height: calc(3.5rem + 0.5rem);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.15) 30%,
        rgba(255, 255, 255, 0.3) 32%,
        rgba(255, 255, 255, 0) 33%
      )
      0 0,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.1) 11%,
        rgba(255, 255, 255, 0.3) 13%,
        rgba(255, 255, 255, 0) 14%
      )
      0 0,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 17%,
        rgba(255, 255, 255, 0.43) 19%,
        rgba(255, 255, 255, 0) 20%
      )
      0 110px,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 11%,
        rgba(255, 255, 255, 0.4) 13%,
        rgba(255, 255, 255, 0) 14%
      ) -130px -170px,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 11%,
        rgba(255, 255, 255, 0.4) 13%,
        rgba(255, 255, 255, 0) 14%
      )
      130px 370px,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.1) 11%,
        rgba(255, 255, 255, 0.2) 13%,
        rgba(255, 255, 255, 0) 14%
      )
      0 0,
    linear-gradient(
      45deg,
      #343702 0%,
      #184500 20%,
      #187546 30%,
      #006782 40%,
      #0b1284 50%,
      #760ea1 60%,
      #83096e 70%,
      #840b2a 80%,
      #b13e12 90%,
      #e27412 100%
    );
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px,
    530px 530px, 730px 730px, 100% 100%;
  background-color: #840b2a;
  border-radius: 50%;
  /* filter: blur(5px); */
  /* transform: rotate(90deg); */
}
.sStory-img > img {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.sStory-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin: 0.5em;
  margin-bottom: 0px;
  /* padding: 0px; */
}
.sCard {
  width: clamp(300px, 90vw, 19rem) !important;
  height: 100%;
  text-align: justify;
  counter-increment: scard-no;
}

.sStory-header h3 {
  font-size: 1.25em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
#successStory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  counter-reset: scard-no;
}
.sCard-sudo {
  height: 100%;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Section 8(Offerings and Collaborations) Styling Start @Shivam Goswami */

:root{
--color1:#62DBC5; /*bluish-green*/
--color2:#9DA2A1;/*grey*/
}



.section8{
display:flex;
flex-direction: column;
align-items:center;
}


/** Our Offering Section  **/
.offering-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  margin:20px 80px;
  padding:20px;
  /* border:2px solid black; */
}
.section8-heading{
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: 'Playfair Display', sans-serif !important;
  font-size:x-large;
  position:relative;
}
.section8-heading:before{
content:"";
position:absolute;
bottom:-5px;
height:6px;
width:100%;
left:0;
border-radius:5px;
background:var(--color1);
transition:0.3s;
transition-timing-function: ease-in-out;
transform:scaleX(0);
}
.section8-heading:hover:before{
transform:scaleX(1);
}
.offering-inner-container{
  display:flex;
  flex-direction:column;
  gap:20px;
  padding:20px;
  /* border:2px solid black; */
}
.offering-row{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.offering-box{
  display:flex;
  padding:0 10px;
  width:fit-content;
  border-radius:10px;
  margin:10px;
  /* flex:1; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.offering-box-image{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left:30px;
}
.offering-box-image img{
  height:120px;
  width:120px;
  border-radius: 50%;
  border:5px solid  var(--color2);
}
.offering-flip-card-front h3{
  font-family: 'Playfair Display', sans-serif !important;
  font-weight:700;
  font-size:18pt;
  line-height:1.2em;
}
.offering-flip-card-back p{
  font-family:cursive;
  font-weight:200;
  line-height:1.8em;
}

/**Flip Card Animation**/
.offering-flip-card {
  perspective: 1000px;
  width: 200px;
  height: 150px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left:20px;
}

.offering-flip-card-inner {
  width: 100%;
  height: 125px;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius:20px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.offering-flip-card:hover .offering-flip-card-inner {
  transform: rotateY(180deg);
}

.offering-flip-card-front, .offering-flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.offering-flip-card-front{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 ; 
  padding:0 20px;
}

.offering-flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0 ; 
  padding:0 15px;
} 

.offering-flip-card:hover .offering-flip-card-front {
  opacity: 0 ; 
}
.offering-flip-card:hover .offering-flip-card-back {
  opacity: 1 ; 
}
.offering-wrapper{
display:none;
}


@media (max-width: 1280px) {
.offering-inner-container{
  display:none;
}

.offering-wrapper{
  display:grid;
  grid-gap:20px;
}
.offering-box{
  display:flex;
  justify-content: center;
  align-items: center;
}
.offering-wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.offering-wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background:var(--color2);
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.offering-wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.offering-wrapper i:first-child{
  left: -22px;
}
.offering-wrapper i:last-child{
  right: -22px;
}
.offering-wrapper .offering-carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3));
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.offering-carousel::-webkit-scrollbar {
  display: none;
}
.offering-carousel.no-transition {
  scroll-behavior: auto;
}
.offering-carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.offering-carousel.dragging .offering-box {
  cursor: grab;
  user-select: none;
}
.offering-carousel :where(.offering-box) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offering-carousel .offering-box {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding: 10px 20px;
  flex-direction: column;
  border-radius: 8px;
}
@media screen and (max-width:1024px)
{
  .offering-wrapper .offering-carousel {
    grid-auto-columns: calc((100% / 2));
    gap:20px;
  }

  .offering-flip-card-back p{
    font-size:small;
  }
}
@media screen and (max-width:640px)
{
  .offering-wrapper .offering-carousel {
    grid-auto-columns: calc((100% / 1));
    gap:20px;
  }
}

}





/* Collaboration and Supported By */
.collaboration-container{
  display:flex;
  flex-direction: column;
  /* border:2px solid black; */
  justify-content: center;
  align-items: center;
  padding:10px;
  margin:20px 80px;
}
.collaboration-wrapper{
  display: flex;
  flex-direction: row;
  max-width:2500px;
  position: relative;
  justify-content: center;
  align-items: center;
  padding:10px;
  margin:20px 80px;
  border-radius:10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.collaboration-wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color:black;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background:var(--color2);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.collaboration-wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.collaboration-wrapper i:hover{
  background: #f2f2f2;
}
.collaboration-wrapper i:first-child{
  left: -22px;
  display: none;
}
.collaboration-wrapper i:last-child{
  right: -22px;
}
.collaboration-wrapper .collaboration-carousel{
  display:flex;
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  /* border:2px solid black; */
  padding:20px;
  max-width:2500px; 
}
.collaboration-carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.collaboration-carousel.dragging img{
  pointer-events: none;
}
.collaboration-carousel img{
  height: 100px;
  width:100px;
  object-fit: contain;
  user-select: none;
  margin-left: 14px;
  margin-right:14px;
  width: calc(100% / 3);
}
.collaboration-carousel img:first-child{
  margin-left: 0px;
}
@media screen and (max-width: 768px) {
  .collaboration-carousel img{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 640px) {
  .collaboration-carousel img{
    width: 100%;
  }
}
/* Section 8(Offerings and Collaborations) End @Shivam Goswami */
