/* <> CSS RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
input,
button,
textarea {
  font: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  max-height: auto;
}
:focus:not(:focus-visible) {
  outline: none;
}
a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: unset;
}
/* </> */

/* <> VARIABLES */
:root {
  /* FONTS */

  /* COLORS */

  /* BORDERS */

  /* STANDARD PADDING */

  /* STANDARD MARGIN */
}
/* </> */

/* <> UTILITY CLASS */
.nowrap {
  white-space: nowrap;
}
.underline {
  text-decoration: underline;
}
/* </> */

/* <> GENERAL STYLES */
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: 100vh;
}
.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 350ms ease-in-out 0s 1 normal forwards;
  animation: fade-in 350ms ease-in-out 0s 1 normal forwards;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
/* </> */

/* <> MODIFIERS */

/* </> */



/* Genral Property Start  */


/* Meta data setup for theame */

/* * {
  --bg-primary-color: #000000;
  --bg-secondary-color: #f5f5f5;
  --bg-third-color: #f5f5f5;
  --text-primary-color: #f5f5f5;
  --text-secondary-color: #f5f5f5;
  --text-third-color: #f5f5f5;
}

body {
  background-color: var(--bg-primary-color) !important;
  color: var(--text-primary-color) !important;
} */

.flex-Center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Genral Property End  */

/* Element Specific Property Start */

#achivements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  #achivements {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  #achivements {
    /* grid-template-columns: repeat(1,1fr); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .achivlink {
    width: clamp(200px, 90vw, 400px) !important;
  }
}
.achivlink {
  /* width: clamp(250px, 30vw, 300px) !important; */
  text-decoration: none;
  color: inherit;
  width: 100%;
}
.achiv-card {
  flex-direction: row;
  height: 9rem !important;
  flex-basis: auto !important;
}
.achiv-card img {
  width: clamp(3rem, 40%, 8.9rem);
  /* height: clamp(3rem, 40%, 8.9rem); */
  /* height: 8.9rem !important; */
  /* width: 8.9rem !important; */
  /* aspect-ratio: 1/1; */
  object-fit: fill;
}
@media screen and (max-width: 350px) {
  #achivements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .achiv-card {
    flex-direction: column;
    width: 75vw !important;
    height: auto !important ;
  }
  .achivlink {
    width: fit-content !important;
  }
  .achiv-card img {
    width: 100% !important;
    height: auto !important;
    /* aspect-ratio: auto !important; */
  }
}
@media screen and (max-width: 600px) {
  .achiv-card img {
    width: clamp(3rem, 40%, 8.9rem) !important;
    aspect-ratio: 1/1 !important;
  }
  
}
/* Element Specific Property End */

/* Latest Event */

.ev {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-evenly;
  width: 100%;
  /* flex-wrap: wrap; */
  /* height: 100%; */
}

.ev-cd {
  /* min-width: 8rem!important; */
  /* max-width: 18rem!important; */
  /* width: 100%!important; */
  /* height: 100%; */
  width: clamp(300px, 90vw, 19rem) !important;
}
.achiv-card .card-body h5 {
  font-size: 1.2em !important;
  overflow-wrap: anywhere;
}
.achiv-card .card-body p {
  font-size: 1em !important;
  overflow-wrap: anywhere;
}

/* .achiv-card .card-body{
    width: clamp(250px, 30vw, 300px) !important;
    min-width: 180px!important;
    max-width: 250px!important;
    width: 100%!important;
    background-color:rgba(0, 255, 255, 0.562); */
/* } */
.ev-cd-img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.date {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #343a40;
  border-radius: 6px 0px 10px 0px;
}
.date .date-day {
  font-size: 1.1em;
  font-weight: 700;
}
.date .date-month {
  font-size: 0.9em;
  font-weight: 500;
}
.date .date-year {
  font-size: 0.9em;
  font-weight: 500;
}
/* .swiper {
    width: 600px;
    height: 300px;
  } */

#eventList {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit,1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center; */
  /* padding: 1rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit , calc(300px, 1fr));
  width: 100%;
  height: calc(100%+3rem);
  grid-auto-flow: column;
  overflow: hidden;
  gap: 1em; 
  mask-repeat: repeat-x;
  margin: 4rem!important;
}
.ScorllBox{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ScorllBox>:is(.left, .right){
  position: absolute;
  font-size: 1.5rem;
  z-index: 999!important;
  /* color: white; */
  /* border: 0.2rem solid white; */
  border-radius: 50%;
}
.ScorllBox>.left{
  top: 50%;
  left: 0px;
}
.ScorllBox>.right{
  top: 50%;
  right: 0px;
}

.ev-sudo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#achivements .card:hover {
  z-index: 999;
  transform: scale(1.08);
  transition: all 0.3s ease-in-out;
}
#latestEvent .card:hover {
  z-index: 999;
  /* transform: scale(1.08); */
  transform: translateY(4px) scale(1.08);
  transition: all 0.3s ease-in-out;
}

.sStory-img {
  /* position: relative; */
  width: fit-content;
  padding: 0.5rem;
  /* height: 100%; */
  width: calc(3.5rem + 0.5rem);
  height: calc(3.5rem + 0.5rem);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
  linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
  background-color: #840b2a;
  border-radius: 50%;
  /* filter: blur(5px); */
  /* transform: rotate(90deg); */
}
.sStory-img > img {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;;

}
.sStory-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin: 0.5em;
  margin-bottom: 0px;
  /* padding: 0px; */

}
.sCard{
  width: clamp(300px, 90vw, 19rem) !important;
  height: 100%;
  text-align: justify;
  counter-increment: scard-no;
}

.sStory-header h3{
  font-size: 1.25em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
#successStory{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit,  1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  counter-reset: scard-no;

}
.sCard-sudo{
  height: 100%;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}