<% layout('./layouts/indexLayout.ejs') -%>

    <div id="mainbody">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="padding:10px">
              <div class="carousel-item active">
                <img src="Assets/Homepage/homepagepic1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="Assets/Homepage/Homepagepic2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="Assets/Homepage/homepagepic3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="Assets/Homepage/homepagepic7.JPG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="Assets/Homepage/homepagepic8.JPG" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    <div id="about">
        <h1>About NSUT-IIF</h1>
        <div id="about-text">
            <div id="only-text">
                <h3>NSUT Incubation and Innovation Foundation (NSUT- IIF),
                    founded in March 2016 as a section 8 company under
                    "The Companies Act, 2013", is the incubator of Netaji
                    Subhas University of Technology (NSUT), Delhi. NSUT-IIF
                    has its registered office on the NSUT campus located at
                    Azad Hind Fauz Marg, Sector 3, Dwarka, Delhi, and it
                    incubates startups of NSUT students, alumni, faculty,
                    any other incubatee under the guidance of Government
                    of NCT of Delhi at NSUT for two years with seed
                    money/funding from NSUT-IIF.
                </h3>
            </div>
            <div class="col-lg-7">
                <div class="border-start border-5 border-primary ps-5 mb-5">
                    <!-- <h6 class="text-primary text-uppercase">About Us</h6> -->
                    <h1 class="display-5 fs-1 text-uppercase mb-0">Keep Innovating</h1>
                </div>
                <h4 class="text-body mb-4">"Creativity is thinking up new things. Innovation is doing new things." —Theodore Levitt</h4>
                <div class="bg-light p-4">
                    <ul class="nav nav-pills justify-content-between mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100 fs-3" id="pills-1-tab" data-bs-toggle="pill" data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1" aria-selected="false">Our Vision</button>
                        </li>
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100 active fs-3" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2" aria-selected="true">Our Mission</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade fs-4" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                            <p class="mb-0">Inspired from “योगिनः कर्म कुर्वन्ति सङ्गं त्यक्त्वात्मशुद्धये” of Bhagvat Geeta, we aspire to be a premiere incubation hub of national and global recognition that cultivates a self evolving entrepreneurial ecosystem of industrial R&amp;D for the economic and scientific growth of the Society and Nation.</p>
                        </div>
                        <div class="tab-pane fade active show fs-4" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                            <p class="mb-0">Our aim is to create leading entrepreneurs and successful ventures by fostering innovative minds, young entrepreneurs, students, alumni and other members of the NSUT community and providing them with required training, mentorship, technical assistance, legal guidance, financial grants, connect to venture capitalist, working space, sharing knowledge and community networks.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div id="page1">
        <h1>Our Board Members</h1>
        <div class="team">
            <div class="cards">
                <img class="team-img" src="Assets/About/Anand Srivastav.jpeg" alt="Prof. Anand Srivastava">
                <div class="name">
                    <h3>Prof. Anand Srivastava</h3>
                    <h5>Chairman, BOD</h5>
                </div>
            </div>
          <div class="cards">
                <img class="team-img" src="Assets/About/J P Saini.png" alt="Prof.J.P. Saini">
                <div class="name">
                    <h3>Prof.J.P. Saini</h3>
 <h5>Director & VC MMMUT</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="Assets/About/PrernaGaur.webp" alt="Prof. Prerna Gaur">
                <div class="name">
                    <h3>Prof. Prerna Gaur</h3>
                    <h5>Director and Member Secretary</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="Assets/About/MPS Bhatia.jpeg" alt="Prof. M.P.S. Bhatia">
                <div class="name">
                    <h3>Prof. M.P.S. Bhatia</h3>
                    <h5>Director</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="Assets/About/Vijender Singh.jpeg" alt="Prof. Vijander Singh">
                <div class="name">
                    <h3>Prof. Vijander Singh</h3>
                    <h5>Director</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="Assets/About/AjayGoel.png" alt="Mr. Ajay Goel">
                <div class="name">
                    <h3>Mr. Ajay Goel</h3>
                    <h5>Director</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="Assets/About/sanjeevThakur.jpg" alt="Prof. Sanjeev Thakur">
                <div class="name">
                    <h3>Prof. Sanjeev Thakur</h3>
                    <h5>Director</h5>
                </div>
            </div>
        </div>
    </div>

    <div id="page2">
        <h1>Our Team Members</h1>
        <div class="team">
            <div class="cards cards2">
                <img class="team-img" src="Assets/About/hsinghal.jpeg" alt="Mr. Himanshu singhal">
                <div class="name">
                    <h3>Mr. Himanshu singhal</h3>
                    <h5>CEO NSUT-IIF</h5>
                </div>
            </div>
            <div class="cards cards2">
                <img class="team-img" src="Assets/About/JatinDogra.jpeg" alt="Mr. Jatin Dogra">
                <div class="name">
                    <h3>Mr. Jatin Dogra</h3>
                    <h5>Incubation Manager</h5>
                </div>
            </div>
            <div class="cards cards2">
                <img class="team-img" src="Assets/About/Jagdish Bohra.jpg" alt="Mr. Jagdish Singh">
                <div class="name">
                    <h3>Mr. Jagdish Singh</h3>
                    <h5>Office Admin</h5>
                </div>
            </div>
            <div class="cards cards2">
                <img class="team-img" src="Assets/About/Puneet Dubey.jpg" alt="Mr. Puneet Kr. Dubey">
                <div class="name">
                    <h3>Mr. Puneet Kr. Dubey</h3>
                    <h5>Accounts</h5>
                </div>
            </div>
            
        </div>
    </div>

    <div id="page3">
        <h1>Our Advisors & Mentors</h1>
        <div class="team">
            <div class="cards">
                <img class="team-img" src="Assets/About/VisheshRatn.png" alt="Mr. Vishesh Ratn Mathur">
                <div class="name">
                    <h3>Mr. Vishesh Ratn Mathur</h3>
                    <h5>Entrepreneur / Mentor</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="Assets/About/sandeepmann.jpg" alt="Mr. Sandeep Mann">
                <div class="name">
                    <h3>Mr. Sandeep Mann</h3>
                    <h5>Entrepreneur / Mentor</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="Assets/About/ManuGupta.png" alt="Mr. Manusheel Gupta">
                <div class="name">
                    <h3>Mr. Manusheel Gupta</h3>
                    <h5>Entrepreneur / Mentor</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="Assets/About/Himanshusuman.png" alt="Mr. Himanshu Suman">
                <div class="name">
                    <h3>Mr. Himanshu Suman</h3>
                    <h5>Legal Advisor, Advocate</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="Assets/About/RameshDharmaji.png" alt="Mr. Ramesh Dharmaji">
                <div class="name">
                    <h3>Mr. Ramesh Dharmaji</h3>
                    <h5>SIDBI</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="Assets/About/Sudhanshu Mittal.png" alt="Mr. Sudhanshu Mittal">
                <div class="name">
                    <h3>Mr. Sudhanshu Mittal</h3>
                    <h5>Head and Director Technical Solutions - NASSCOM</h5>
                </div>
            </div>

            <div class="cards">
                <img class="team-img" src="Assets/About/MayankGupta.png" alt="Mr. Mayank Gupta">
                <div class="name">
                    <h3>Mr. Mayank Gupta</h3>
                    <h5>Co-Founder and COO at Zopper</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="Assets/About/Lokesh Kumar.png" alt="Mr. Lokesh Kumar">
                <div class="name">
                    <h3>Mr. Lokesh Kumar</h3>
                    <h5>HDFC</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="page4">
        <h1>Student Volunteers</h1>
        <div class="team">
            <div class="cards">
                <img class="team-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTniIXeHTi0rPxzE3SNVHys0-pEuQ4HDZqAPA&usqp=CAU" alt="">
                <div class="name">
                    <h3>Sachin</h3>
                    <h5>director</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTniIXeHTi0rPxzE3SNVHys0-pEuQ4HDZqAPA&usqp=CAU" alt="">
                <div class="name">
                    <h3>Sachin</h3>
                    <h5>director</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTniIXeHTi0rPxzE3SNVHys0-pEuQ4HDZqAPA&usqp=CAU" alt="">
                <div class="name">
                    <h3>Sachin</h3>
                    <h5>director</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTniIXeHTi0rPxzE3SNVHys0-pEuQ4HDZqAPA&usqp=CAU" alt="">
                <div class="name">
                    <h3>Sachin</h3>
                    <h5>director</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTniIXeHTi0rPxzE3SNVHys0-pEuQ4HDZqAPA&usqp=CAU" alt="">
                <div class="name">
                    <h3>Sachin</h3>
                    <h5>director</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTniIXeHTi0rPxzE3SNVHys0-pEuQ4HDZqAPA&usqp=CAU" alt="">
                <div class="name">
                    <h3>Sachin</h3>
                    <h5>director</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTniIXeHTi0rPxzE3SNVHys0-pEuQ4HDZqAPA&usqp=CAU" alt="">
                <div class="name">
                    <h3>Sachin</h3>
                    <h5>director</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTniIXeHTi0rPxzE3SNVHys0-pEuQ4HDZqAPA&usqp=CAU" alt="">
                <div class="name">
                    <h3>Sachin</h3>
                    <h5>director</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTniIXeHTi0rPxzE3SNVHys0-pEuQ4HDZqAPA&usqp=CAU" alt="">
                <div class="name">
                    <h3>Sachin</h3>
                    <h5>director</h5>
                </div>
            </div>
            <div class="cards">
                <img class="team-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTniIXeHTi0rPxzE3SNVHys0-pEuQ4HDZqAPA&usqp=CAU" alt="">
                <div class="name">
                    <h3>Sachin</h3>
                    <h5>director</h5>
                </div>
            </div>
        </div>
        <div id="other-mem">
            <div class="cards">
                <h2>TECH</h2>
            </div>
            <div class="cards">
                <h2>PR & SPONSI</h2>
            </div>
            <div class="cards">
                <h2>CONTENT</h2>
            </div>
            <div class="cards">
                <h2>SOCIAL MEDIA</h2>
            </div>
            <div class="cards">
                <h2>OPERATION</h2>
            </div>
        </div>
    </div> -->