<% layout('./layouts/indexLayout.ejs') -%>
<main>
    <div class="banner" id="banner">
      <img src="../Assets/ContactUs.jpg" alt="Contact Us Banner Image" style="padding:10px;height:400px;" />
    </div>
    <div class="contact-us-wrapper">
      <div>
        <i class="fa-solid fa-phone"></i>
        <h2>Call Us</h2>
        <p>+91 99717 23799</p>
      </div>
      <div>
        <i class="fa-solid fa-location-dot"></i>
        <h2>Locate Us</h2>
        <p>Room 410, Library Block 4th Floor, NSUT Campus, Azad Hind Fauz Marg, Dwarka-3, New Delhi-110078</p>
      </div>
      <div>
        <i class="fa-solid fa-envelope"></i>
        <h2>Write To Us</h2>
        <p>support.nsutiff@nsut.ac.in</p>
      </div>
    </div>
    <div class="contact-us-map-wrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.648957486025!2d77.0389857!3d28.6103062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0534756c23b9%3A0xc7121482f0d31862!2sCentral%20Library!5e0!3m2!1sen!2sin!4v1702920898600!5m2!1sen!2sin"
        width="600"
        height="auto"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <form
        method="POST"
        action="https://script.google.com/macros/s/AKfycbwDLNpqN4lBE8OA56MybXDQiuqfsU4AD-j7vl2ECpk5SYMOqe3Ro312a65JhijqS02eiA/exec"
        id="ContactUsForm"
        class="contact-us-form">
        <div class="button-wrapper">
          <input type="radio" id="visit" name="form-type" checked>
          <label for="visit" onclick="do_visit()">Book your Visit</label>
          <input type="radio" id="feedback" name="form-type">
          <label for="feedback" onclick="do_feedback()">Feedback</label>
          <!-- <button>Book your Visit</button><button>Feedback</button> -->
        </div>
        <!-- <h2>Book Your Visit</h2> -->
        <input type="text" name="Name" id="ContactUsName" placeholder="Your Full Name" required />
        <input type="tel" name="Mobile" id="ContactUsMobile" placeholder="Your Mobile No." required />
        <input type="email" name="Email" id="ContactUsEmail" placeholder="Your Email" required />
        <select name="PurposeOfVisit" id="ContactUsPurposeOfVisit" required>
          <option value="false">Purpose Of Visit</option>
          <option value="Enquiry">Enquiry</option>
        </select>
        <textarea name="Query" id="ContactUsQuery" cols="30" rows="12" placeholder="Your Query" required></textarea>
        <!-- <input type="submit" value="Get your visit pass" /> -->
        <button type="submit" id="ContactUsSubmit">Get your visit pass</button>
      </form>
    </div>
  </main>