<% layout('./layouts/indexLayout.ejs') -%>
<main>
  <div id="mainbody">
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
      style="padding: 10px"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="Assets/Homepage/homepagepic1.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="Assets/Homepage/Homepagepic2.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="Assets/Homepage/homepagepic3.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="Assets/Homepage/Homepagepic4.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="Assets/Homepage/homepagepic6.JPG"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="Assets/Homepage/homepagepic7.JPG"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="Assets/Homepage/homepagepic8.JPG"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div id="aboutus">
    <div id="heading">
      <h1>NSUT-IIF</h1>
    </div>
    <div id="about-us">
      <div id="aboutimg">
        <img
          class="iifimage"
          src="Assets/IMG20230911150844 (1).jpg"
          alt="NSUT-IIF Image"
        />
      </div>
      <section class="para">
        <p>
          <b>NSUT INCUBATION & INNOVATION FOUNDATION (NSUT-IIF) </b>a section 8
          company as per The Companies Act-2013 having its registered office at
          Netaji Subhas University of Technology, Azad Hind Fauz Marg, Sector 3,
          Dwarka New Delhi, was opened to incubate startups of NSUT students,
          alumni, faculty of NSUT, any other incubatee under the guidelines of
          Delhi Government at NSUT for two years with seed money (funding) from
          the NSUT-IIF.
        </p>
        <div id="buttons">
          <!-- <button id="log"><a href="#"><i class="fa-solid fa-user"></i> Register</a></button> -->
        </div>
      </section>
    </div>
  </div>
  <section id="event">
    <div>
      <div style="padding: 1.5em 0 1.5em 0;
      color: #374758;
      font-size: 1.15vw; margin-bottom: 0em;">
        <h1 class="DS-headingText">Events</h1>
      </div>
      <div class="carousel">
        <button
          class="slider-btn carousel-prev"
          aria-label="slide to previous"
          data-slider-prev
        >
          <i class="fa-solid fa-angle-left"></i>
        </button>
        <div class="carousel-wrapper">
          <ul class="grid">

            <% page.events.forEach(element => { %>
             
              <li class="carousel-slide">
                <figure>
                  <div class="carousel-card card">
                    <div class="card-img">
                      <img class="card-img-top" src="<%= element.image %>" alt="" srcset="" onerror="this.src='social-nd-foot/iconfoot.png'" />
                    </div>
                    <div class="card-text px-3 py-2 text-center">
                      <h5 class="  text-truncate"><%= element.name %></h5>
                      <% if (element?.form) { %>
                        <a href="/apply?open=<%= element.id %>" class="btn btn-primary">Lean More</a>                       
                      <% } %>
                    </div>
                  </div>
                </figure>
              </li>

            <% }) %>
          </ul>
        </div>

        <button
          class="slider-btn carousel-next"
          aria-label="slide to next"
          data-slider-next
        >
          <i  class="fa-solid fa-angle-right"></i>
        </button>
      </div>
    </div>
  </section>
  <section id="OurAchievements" class="">
    <div class="container">
      <h1 class="DS-headingText">Our Achievements</h1>
      <div id="OA-List" class="">
        <div class="OA-items">
          <div class="OA-items">
            <div class="OA-items-logo flext-center">
              <i class="flext-center fa-solid fa-rocket" aria-hidden="true"></i>
            </div>
            <div class="OA-items-data">
              <div class="OA-items-data-num"><span>45</span>+</div>
              <div class="OA-items-data-text">
                <span>Startup Incubated</span>
              </div>
            </div>
          </div>
        </div>
        <div class="OA-items">
          <div class="OA-items">
            <div class="OA-items-logo flext-center">
              <i class="flext-center fa-solid fa-user" aria-hidden="true"></i>
            </div>
            <div class="OA-items-data">
              <div class="OA-items-data-num"><span>500</span>+</div>
              <div class="OA-items-data-text">
                <span>Entrepreneur Engaged</span>
              </div>
            </div>
          </div>
        </div>
        <div class="OA-items">
          <div class="OA-items">
            <div class="OA-items-logo flext-center">
              <i
                class="flext-center fas fa-hand-holding-usd"
                aria-hidden="true"
              ></i>
            </div>
            <div class="OA-items-data">
              <div class="OA-items-data-num"><span>18Cr</span>+</div>
              <div class="OA-items-data-text">
                <span>Fund Raised</span>
              </div>
            </div>
          </div>
        </div>
        <div class="OA-items">
          <div class="OA-items">
            <div class="OA-items-logo flext-center">
              <i
                class="flext-center fa-solid fa-bullseye"
                aria-hidden="true"
              ></i>
            </div>
            <div class="OA-items-data">
              <div class="OA-items-data-num"><span>150</span>+</div>
              <div class="OA-items-data-text">
                <span>Job Created</span>
              </div>
            </div>
          </div>
        </div>
        <div class="OA-items">
          <div class="OA-items">
            <div class="OA-items-logo flext-center">
              <i
                class="flext-center fa-solid fa-graduation-cap"
                aria-hidden="true"
              ></i>
            </div>
            <div class="OA-items-data">
              <div class="OA-items-data-num"><span>12</span>+</div>
              <div class="OA-items-data-text">
                <span>Graduated</span>
              </div>
            </div>
          </div>
        </div>
        <div class="OA-items">
          <div class="OA-items">
            <div class="OA-items-logo flext-center">
              <i
                class="flext-center fa-solid fa-arrow-up-right-dots"
                aria-hidden="true"
              ></i>
            </div>
            <div class="OA-items-data">
              <div class="OA-items-data-num"><span>50Cr</span>+</div>
              <div class="OA-items-data-text">
                <span>Valuation</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!----------------------------------------------------------------------------------------------------------------------------->
  <!-- Offerings and Collaborations Start @Shivam Goswami -->
  <section class="section3">
    <!-- Our Offerings -->
    <div class="offering-container">
      <div class="section3-heading">What We Offer</div>
      <div class="offering-inner-container">
        <div class="offering-row">
          <div class="offering-box">
            <div class="offering-box-image">
              <img
                src="./Assets/benefitsfromhostinstitute.jpg"
                alt="benefits"
              />
            </div>
            <div class="offering-flip-card">
              <div class="offering-flip-card-inner">
                <div class="offering-flip-card-front">
                  <h3>Mentorship from Industry Experts</h3>
                </div>
                <div class="offering-flip-card-back">
                  <p>
                    Startups incubated at NSUT-IIF receive valuable mentorship
                    from industry experts
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="offering-box">
            <div class="offering-box-image">
              <img src="./Assets/financialassistance.jpg" alt="financial" />
            </div>
            <div class="offering-flip-card">
              <div class="offering-flip-card-inner">
                <div class="offering-flip-card-front">
                  <h3>Financial Assistance</h3>
                </div>
                <div class="offering-flip-card-back">
                  <p>
                    Collaborated with Startup India Seed Fund and holds Atal
                    Innovation Center status
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="offering-box">
            <div class="offering-box-image">
              <img src="./Assets/academic.jpg" alt="academic" />
            </div>
            <div class="offering-flip-card">
              <div class="offering-flip-card-inner">
                <div class="offering-flip-card-front">
                  <h3>Academic Support (Only for NSUT Students)</h3>
                </div>
                <div class="offering-flip-card-back">
                  <p>
                    NSUT IIF allows 10% attendance relaxation & enable the
                    students to defer placements by a year or two to start their
                    own ventures.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="offering-row">
          <div class="offering-box">
            <div class="offering-box-image">
              <img src="./Assets/networking.jpg" alt="networking" />
            </div>
            <div class="offering-flip-card">
              <div class="offering-flip-card-inner">
                <div class="offering-flip-card-front">
                  <h3>Networking & Outreach</h3>
                </div>
                <div class="offering-flip-card-back">
                  <p>
                    NSUT-IIF connect student innovators with diverse
                    professionals, entrepreneurs
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="offering-box">
            <div class="offering-box-image">
              <img src="./Assets/thankyou.png" alt="techsupport" />
            </div>
            <div class="offering-flip-card">
              <div class="offering-flip-card-inner">
                <div class="offering-flip-card-front">
                  <h3>High-End Tech Support</h3>
                </div>
                <div class="offering-flip-card-back">
                  <p>
                    We offer comprehensive technical support, fabrication, and
                    lab facilities
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="offering-box">
            <div class="offering-box-image">
              <img src="./Assets/handsOn.jpg" alt="mentorship" />
            </div>
            <div class="offering-flip-card">
              <div class="offering-flip-card-inner">
                <div class="offering-flip-card-front">
                  <h3>Hands-On Learning Experience</h3>
                </div>
                <div class="offering-flip-card-back">
                  <p>
                    Startups collaborate, gain insights from peers, experts in
                    business, technology
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Mobile View-->
      <div class="offering-wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <ul class="offering-carousel">
          <li class="offering-box">
            <div class="offering-box-image">
              <img
                src="./Assets/benefitsfromhostinstitute.jpg"
                alt="benefits"
              />
            </div>
            <div class="offering-flip-card">
              <div class="offering-flip-card-inner">
                <div class="offering-flip-card-front">
                  <h3>Mentorship from Industry Experts</h3>
                </div>
                <div class="offering-flip-card-back">
                  <p>
                    Startups incubated at NSUT-IIF receive valuable mentorship
                    from industry experts
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="offering-box">
            <div class="offering-box-image">
              <img src="./Assets/financialassistance.jpg" alt="financial" />
            </div>
            <div class="offering-flip-card">
              <div class="offering-flip-card-inner">
                <div class="offering-flip-card-front">
                  <h3>Financial Assistance</h3>
                </div>
                <div class="offering-flip-card-back">
                  <p>
                    Collaborated with Startup India Seed Fund and holds Atal
                    Innovation Center status
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="offering-box">
            <div class="offering-box-image">
              <img src="./Assets/academic.jpg" alt="academic" />
            </div>
            <div class="offering-flip-card">
              <div class="offering-flip-card-inner">
                <div class="offering-flip-card-front">
                  <h3>Academic Support(Only for NSUT Students)</h3>
                </div>
                <div class="offering-flip-card-back">
                  <p>
                    NSUT IIF allows 10% attendance relaxation and a 2-year job
                    delay.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="offering-box">
            <div class="offering-box-image">
              <img src="./Assets/networking.jpg" alt="networking" />
            </div>
            <div class="offering-flip-card">
              <div class="offering-flip-card-inner">
                <div class="offering-flip-card-front">
                  <h3>Networking & Outreach</h3>
                </div>
                <div class="offering-flip-card-back">
                  <p>
                    NSUT-IIF connect student innovators with diverse
                    professionals, entrepreneurs
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="offering-box">
            <div class="offering-box-image">
              <img src="./Assets/techsupport.jpg" alt="techsupport" />
            </div>
            <div class="offering-flip-card">
              <div class="offering-flip-card-inner">
                <div class="offering-flip-card-front">
                  <h3>High-End Tech Support</h3>
                </div>
                <div class="offering-flip-card-back">
                  <p>
                    We offer comprehensive technical support, fabrication, and
                    lab facilities
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="offering-box">
            <div class="offering-box-image">
              <img src="./Assets/handsOn.jpg" alt="mentorship" />
            </div>
            <div class="offering-flip-card">
              <div class="offering-flip-card-inner">
                <div class="offering-flip-card-front">
                  <h3>Hands-On Learning Experience</h3>
                </div>
                <div class="offering-flip-card-back">
                  <p>
                    Startups collaborate, gain insights from peers, experts in
                    business, technology
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <i id="right" class="fa-solid fa-angle-right"></i>
      </div>
    </div>

    <!--Collaboration and Supported By -->
    <div class="collaboration-container">
      <div class="section3-heading">Collaboration & Supported By:-</div>
      <div class="collaboration-wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <div class="collaboration-carousel">
          <img
            src="./Assets/Collaborations/dept-of-sci-and-tech.png"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/iiclogo.png"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/gnct-delhi.png"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/aicte.jpg"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/aws.png"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/msme.png"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/niti-aayog.png"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/aim.jpg"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/dsiidc.png"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/hdfc.png"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/nasscom.png"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/techoparkiitk.png"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/netedge.jpg"
            alt="img"
            draggable="false"
          />
          <img
            src="./Assets/Collaborations/padup.png"
            alt="img"
            draggable="false"
          />
        </div>
        <i id="right" class="fa-solid fa-angle-right"></i>
      </div>
    </div>
  </section>
  <!-- Offerings and Collaborations End @Shivam Goswami-->

  <!----------------------------------------------------------------------------------------------------------------------->

  <!-- Section 4 (Our Achivement Section) Start @DheerajSharma -->

  <section id="LatestEvents" class="">
    <h1 class="DS-headingText">Latest Events</h1>
    <div class="LE-slider-box">
      <div id="LE-List" class="LE-slider-cover">
        <!-- Latest Events Items Start -->

    

        <div class="LE-slider-items">
          <div class="LE-items-contens">
            <img src="Assets/Events/LE10.jpg" alt="" loading="lazy" />
            <div class="LE-text">
              <h3></h3>
              <p></p>
            </div>
          </div>
        </div>
        <div class="LE-slider-items">
          <div class="LE-items-contens">
            <img src="Assets/Events/LE04.jpg" alt="" loading="lazy" />
            <div class="LE-text">
              <h3></h3>
              <p></p>
            </div>
          </div>
        </div>
        <div class="LE-slider-items">
          <div class="LE-items-contens">
            <img src="Assets/Events/LE07.jpg" alt="" loading="lazy" />
            <div class="LE-text">
              <h3></h3>
              <p></p>
            </div>
          </div>
        </div>
        <div class="LE-slider-items">
          <div class="LE-items-contens">
            <img src="Assets/Events/LE14.jpg" alt="" loading="lazy" />
            <div class="LE-text">
              <h3></h3>
              <p></p>
            </div>
          </div>
        </div>
        <div class="LE-slider-items">
          <div class="LE-items-contens">
            <img src="Assets/Events/LE05.jpg" alt="" loading="lazy" />
            <div class="LE-text">
              <h3></h3>
              <p></p>
            </div>
          </div>
          <!-- Latest Events Items End -->
        </div>
      </div>
      <div class="LE-control">
        <button class="LE-ctr btn LE-dr-rt" data-direction="-1">
          <i class="fa-solid LE-dr-rt fa-caret-left"></i>
        </button>
        <div id="LE-dot-slider">
          <div class="LE-items-dot"></div>
          <div class="LE-items-dot"></div>
          <div class="LE-items-dot"></div>
          <div class="LE-items-dot"></div>
          <div class="LE-items-dot"></div>
        </div>
        <button class="LE-ctr LE-dr-lt btn">
          <i class="LE-dr-lt fa-solid fa-caret-right"></i>
        </button>
      </div>
    </div>
  </section>

  <!-- Success story of Start-up @NSUT IIF Start -->

  <section id="SuccessStory" class="">
    <h1 class="DS-headingText">Success story of Start-up @NSUT IIF</h1>
    <div id="SSS-List">
      <!-- SSS Items Start -->
      <div class="SSS-items">
        <div class="SSS-sudo-box">
          <div class="SSS-items-img">
            <img src="Assets/Startup/Zalonin.jpeg" alt="" loading="lazy" />
          </div>
          <div class="SSS-items-data">
            <h4></h4>
            <p>
              Zalonin received the first prize at Shark Tank, held at JMC on
              November 08 2019.
            </p>
          </div>
        </div>
      </div>
      <div class="SSS-items">
        <div class="SSS-sudo-box">
          <div class="SSS-items-img">
            <img src="Assets/Startup/team-feet.jpg" alt="" loading="lazy" />
          </div>
          <div class="SSS-items-data">
            <h4></h4>
            <p>
              NSUT IIF invested startup Feet Wings Pvt Ltd received investment
              of Rs. 1.1 Crore from PadUp and Elina Capital.
            </p>
          </div>
        </div>
      </div>
      <div class="SSS-items">
        <div class="SSS-sudo-box">
          <div class="SSS-items-img">
            <img
              src="Assets/Startup/Neem-Tree-Agro-Solution.jpg"
              alt=""
              loading="lazy"
            />
          </div>
          <div class="SSS-items-data">
            <h4></h4>
            <p>
              One of our startup Neem Tree Agro Solution received funding of Rs.
              5 Lakhs from NASSCOM Foundation. Neem Tree also received first
              prize in Agri hackathon organized by IIT Delhi and received a
              grand of Rs. 7 Lakhs by Govt. of India.
            </p>
          </div>
        </div>
      </div>
      <div class="SSS-items">
        <div class="SSS-sudo-box">
          <div class="SSS-items-img">
            <img src="Assets/Startup/VivaFeet.jpeg" alt="" loading="lazy" />
          </div>
          <div class="SSS-items-data">
            <h4></h4>
            <p>
              VivaFeet raised INR 10 lakhs from NIDHI Prayas scheme and INR 30
              Lakhs from ASIIM.
            </p>
          </div>
        </div>
      </div>
      <div class="SSS-items">
        <div class="SSS-sudo-box">
          <div class="SSS-items-img">
            <img
              src="Assets/Startup/the-healthy-company.jpg"
              alt=""
              loading="lazy"
            />
          </div>
          <div class="SSS-items-data">
            <h4></h4>
            <p>
              AlNourish (The Healthy Company), which provides super foods and
              consultation received a funding of USD 350,000 from Gurgaon based
              accelerator, Huddle and has raised another confidential amount
              from DSG Consumer Partners and Get Vantage.
            </p>
          </div>
        </div>
      </div>

      <!-- SSS Items End -->
    </div>
    <div class="SSS-control">
      <button id="SSS-add">
        <i class="fa-solid fa-angle-down"></i>
      </button>
    </div>
  </section>

  <!-- Success story of Start-up @NSUT IIF End @Dheeraj Sharma -->

  <div class="box-social">
    <h1 class="social_head"><b>Social Media activity of NSUT IIF</b></h1>
    <div class="social-content">
      <div class="tweet1">
        <h3 class="socialsubhead">Latest Tweets</h3>
        <a
          class="twitter-timeline"
          data-width="auto"
          data-height="600"
          data-theme="dark"
          href="https://twitter.com/iifnsut?ref_src=twsrc%5Etfw"
          >Tweets by iifnsut</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>

      <div class="yt2">
        <h3 class="socialsubhead">YT Videos</h3>
        <iframe
          width="100%"
          height="200"
          src="https://www.youtube.com/embed/mx1JukV3uXE?si=CyFFuuSDH2WBmmWH"
          title="YouTube video player"
          frameborder="2"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <iframe
          width="100%"
          height="200"
          src="https://www.youtube.com/embed/KkQwoqFP-g0?si=G_zmHQFu-ecHw15I"
          title="YouTube video player"
          frameborder="2"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <iframe
          width="100%"
          height="200"
          src="https://www.youtube.com/embed/mx1JukV3uXE?si=CyFFuuSDH2WBmmWH"
          title="YouTube video player"
          frameborder="2"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="postcol">
        <h3 class="socialsubhead">Recent Posts</h3>
        <div class="post">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fiifnsut%2F&tabs=timeline&width=400&height=600&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=327511533242026"
            width="400"
            height="600"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="newletter">
    <form action="" class="newsform">
      <h2 class="newsformhead">Subscribe to our monthly newsletter</h2>

      <input
        type="text"
        id="fname"
        placeholder=" Your name"
        class="newsforminput"
      /><br />

      <input
        type="text"
        id="email"
        placeholder="Your Email address"
        class="newsforminput"
      /><br />

      <input type="submit" value="Submit" class="newsformsubmit" /><br /><br />
    </form>
  </div>
</main>
<script>
  let popup = NULL || {};
  var latestEvents = NULL || [];
</script>
