<% layout('./layouts/indexLayout.ejs') -%>
<!-- <h1>Sign in</h1>
<a class="button google" href="/login/federated/google">Sign in with Google</a> -->
<div style="min-height: 50vw; width: 100%;">
    
  <div class="row h-100 w-100">
    <div class="d-none d-md-block h-100 col-md">
      <img
        src="https://nsutiif.in/img/gallery/5.JPG"
        alt=""
        style="height: 100%; object-fit: cover;border-radius: 0;"
      />
    </div>
    <div class="col h-100">
      <div class="py-3 ps-5">
        <h2>Sign in</h2>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <a class="btn btn-light btn-lg border-lignt border-2 fw-normal" href="/login/federated/google">
          <i class="fa-brands fa-google fs-4"></i>
          Sign in with Google
        </a>
      </div>
    </div>
  </div>
</div>
