    <!-- social media and footer -->
    

    <footer class="foot">
        <div class="foot1">
            <img class="footicon" src="social-nd-foot/iconfoot.png" alt="NSUT IIF">
            <P>"Creativity is thinking up new things. Innovation is doing new things." - Theodore Levitt</P>
            <br><h3 class="foot1head">Follow Us</h3>
                <a href="https://www.facebook.com/IIFNSUT" class="fa-brands fa-facebook-f" target="_blank"></a>
                <a href="https://twitter.com/iifnsut"  class="fa-brands fa-x-twitter" target="_blank"></a>
                <a href="https://in.linkedin.com/company/nsutiif" class="fa-brands fa-linkedin-in" target="_blank"></a>
                <a href="https://www.youtube.com/@iifnsut" class="fa-brands fa-youtube" target="_blank"></a>
                <a href="https://www.instagram.com/iifnsut/" class="fa-brands fa-instagram" target="_blank"></a>
        </div>

        <div class="foot2">
            <h3 class="foot2head">Get in Touch</h3>
            <br>
            <div class="foot2-2">
                <h4 class="footsubhead"></h4>
                <p class="addressfoot">Room 410, Library Block 4th floor, NSUT Campus, Azad Hind Fauz Marg, Dwarka-3, New Delhi-110078</p>
                <br>
                <p ><p class="footsubhead"><i class="fa-solid fa-phone"></i><i class="phone1"> +91 99717 23799</i>  </p></p>
                <br>
                <p><p class="footsubhead"><i class="fa-solid fa-envelope"></i><i class="mail1"> support.nsutiif@nsut.ac.in</i></p></p>
            </div>
            


        </div>
        <div class="foot3">
            <h3 class="foot3head">Quick Navigation</h3>
            <ul class="foot3-2" style="list-style-type:disc;">
                <li><a href="#" class="footlist">Home</a></li><br>
                <li><a href="About.html" class="footlist">About us</a></li><br>
                <li><a href="ContactUs/" class="footlist">Contact </a></li><br>
                <!-- <li><a href="#" class="footlist">Policy</a></li><br>
                <li><a href="#" class="footlist">Careers</a></li><br> -->
            </ul> 
            <h3 class="foot3head-2">Creative Team Behind NSUT IIF</h3>
        </div> 

        

    </footer> 

    <!--mobile view footer  -->

    <footer class="mbfoot">
      <div class="mbft1">
          <img class="footicon" src="social-nd-foot/iconfoot.png" alt="NSUT IIF">
          <P class="quote">"Creativity is thinking up new things. Innovation is doing new things." - Theodore Levitt</P><br>
          <h4 class="foot2head">Get in Touch</h4>
          <br>
          <div class="foot2-2">
              <p class="addressfoot">Room 410, Library Block 4th floor, NSUT Campus, Azad Hind Fauz Marg, Dwarka-3, New Delhi-110078</p>
              <br>
              <p ><h5 class="footsubhead"><i class="fa-solid fa-phone"></i><i class="phone1">+91 9971723799</i>  </h5></p>
              <br>
              <p><h5 class="footsubhead" ><i class="fa-solid fa-envelope"></i><i class="mail1">support.nsutiff@nsut.ac.in</i></h5></p>
          </div>

      </div>

      <div class="mbft2">
          <h4 class="foot3head">Quick Navigation</h4>
          <ul class="foot3-2" style="list-style-type:disc;">
              <li><a href="#" class="footlist">Home</a></li><br>
              <li><a href="About.html" class="footlist">About us</a></li><br>
              <li><a href="ContactUs/index.html" class="footlist">Contact </a></li><br>
              <!-- <li><a href="#" class="footlist">Policy</a></li><br>
              <li><a href="#" class="footlist">Careers</a></li><br> -->
          </ul> 
          <h4 class="foot3head-2">Creative Team Behind NSUT IIF</h4><br>
          <h3 class="foot1head">Follow Us</h3>
              <a href="https://www.facebook.com/IIFNSUT" class="fa-brands fa-facebook-f" target="_blank"></a>
              <a href="https://twitter.com/iifnsut"  class="fa-brands fa-x-twitter" target="_blank"></a>
              <a href="https://in.linkedin.com/company/nsutiif" class="fa-brands fa-linkedin-in" target="_blank"></a>
              <a href="#" class="fa-brands fa-youtube" target="_blank"></a>
              <a href="https://www.instagram.com/iifnsut/" class="fa-brands fa-instagram" target="_blank"></a>
      </div>


  </footer>