<header>
    
    <div id="top">
      <div id="top-left">
          <h3><a href="mailto:support.nsutiif@nsut.ac.in"><i class="fa-solid fa-envelope"></i> support.nsutiif@nsut.ac.in</a></h3>
          <h3><a href="tel:+919987878689"><i class="fa-solid fa-phone"></i> +919987878689</a></h3>
      </div>
      <div id="top-right">
          <h3><a href="https://www.facebook.com/IIFNSUT" target="_blank"><i class="fa-brands fa-square-facebook"></i></a></h3>
          <h3><a href="https://in.linkedin.com/company/nsutiif" target="_blank"><i class="fa-brands fa-linkedin"></i></a></h3>
          <h3><a href="https://www.instagram.com/iifnsut/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></h3>
          <h3><a href="https://twitter.com/iifnsut" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a></h3>
          <h3><a href="https://www.youtube.com/@iifnsut" target="_blank"><i class="fa-brands fa-youtube"></i></a></h3>
      </div>
  </div>

  <div id="intro">
    <a href="/" class="nav-item">
      <img src="https://nsutiif.in/img/nsutiif_logo.jpeg" alt="">
    </a>
      <div id="i-about">
        <h3 class="line1">NETAJI SUBHAS UNIVERSITY OF TECHNOLOGY</h3>
        <h3>Incubation and Innovation Foundation</h3>
        <h5>Azad Hind Fauj Marg, Sector-3, Dwarka, New Delhi-110078</h5>
      </div>
      <a href="http://nsut.ac.in/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Netaji_Subhas_University_of_Technology.svg/640px-Netaji_Subhas_University_of_Technology.svg.png" alt="">
      </a>
  </div>
 
  <% if(page?.marquee){ %>
    <marquee id="marquee" onMouseOver="stopMarquee()" onMouseOut="startMarquee()">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfWxeXp8SKQp3TyDzHAvObnR10p3f4ZDNdddY4qrM7Y8FvVHA/viewform" target="_blank">Pitch Punch 4.0<sup style="color:red">New</sup></a>
     </marquee>
    <% } %>
 
  <div id="navbar">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand fs-3" href=""></a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3 align-items-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/startups">Start-Ups</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/apply">Apply</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/contact">Contact Us</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Community</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Career</a>
                </li> -->
                <% if (!page.loggedIn) { %>
                  <li class="nav-item">
                      <a class="nav-link active p-2" id="active" aria-current="page" href="/login"><i class="fa-solid fa-user"></i>Login</a>
                  </li>
                  <% } else { %>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/admin">DashBoard</a>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link active p-2" id="active" aria-current="page" href="/logout"><i class="fa-solid fa-user"></i>Logout</a>
                  </li>
                 
                    <% }%>
                     
                </li>
              </ul>
            </div>
          </div>
        </nav>
  </div>
</header>